@font-face{
	font-family: 'HamletOrNot';
	src: url('HamletOrNot.ttf');
}
body{
	text-align: center;
}
h1, h2, h3{
	font-family: 'HamletOrNot';
	text-align: center;
}
h1{
	animation-name: ani;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
img{
	border-radius: 10px;
	padding: 5px;
	background-image: url('texture1.jpg');
}
#head1{
	animation-name: ani2;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
#intro{
	display: block;
}
#section1{
	opacity: 0;
}
#marryBranch{
	opacity: 0;
}
#refuseBranch{
	opacity: 0;
}
#afterMarriage{
	opacity: 0;
}
#yourAdvice{
	opacity: 0;
}
#noAdvice{
	opacity: 0;
}
#inquiry, #inquiry2{
	opacity: 0;
	text-align: center;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-delay: 7s;
}
.dissapear{
	-webkit-animation-name: diss;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;s
}
.appear{
	animation-name: app;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.appear2{
 	animation-name: app2;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.appear3{
	animation-name: app3;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.appear4{
	animation-name: app4;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;  
}
@keyframes app4{
  	0%{
		opacity: 0;
	}
	50%{
		margin-top: 0px;
	}
	100%{
		margin-top: -2250px;
		opacity: 1;
		
	}
}
@keyframes app3{
  	0%{
		opacity: 0;
	}
	50%{
		margin-top: 0px;
	}
	100%{
		margin-top: -1600px;
		opacity: 1;
	
	}
}
@keyframes app2{
	0%{
		opacity: 0;
	}
	50%{
		margin-top: 0px;
	}
	100%{
		margin-top: -900px;
		opacity: 1;
	
	}
}
@keyframes app{
	0%{
		opacity: 0;
	}
	50%{
		margin-top: 0px;
	}
	100%{
		margin-top: -300px;
		opacity: 1;
	}
}
@-webkit-keyframes diss{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		display: none;
	}
}
@keyframes fadein{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes ani{
	from{
		margin-left: 100%;
		width: 300%;
	}
	to{
		margin-left: 0%;
		width: 100%;
	}
}
@keyframes ani2{
	from{
		margin-right: 100%;
		width: 300%;
	}
  	to{
		margin-right: 0%;
		width: 100%;
	}
}
button{
	background-image: url('texture1.jpg');
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	font-family: 'HamletOrNot';
  	display: inline-block;
}
